body {
  margin-top: 20px;
}

.chat-online {
  color: #34ce57
}

.chat-offline {
  color: #e4606d
}

.chat-messages {
  display: flex;
  flex-flow: column-reverse;
  height: 600px;
  box-sizing: border-box;
  overflow-y: auto;
}

.user-list {
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  overflow-y: scroll
}

.chat-message-left,
.chat-message-right {
  display: flex;
  flex-shrink: 0
}

.chat-message-left {
  margin-right: auto
}

.chat-message-right {
  flex-direction: row-reverse;
  margin-left: auto
}


.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.flex-grow-0 {
  flex-grow: 0 !important;
}

.border-top {
  border-top: 1px solid #dee2e6 !important;
}

.border-right {
  border-right: 1px solid #dee2e6 !important;
}

.border-0 {
  border: 0 !important;
}

.list-group-item {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .125);
}

.list-group-item-action {
  width: 100%;
  color: #495057;
  text-align: inherit;
}

.list-active {
  background-color: #e4606d;
}

* {
  background-color: #fcf9f9;
}

.loader {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
  /* background-color: rgba(207, 203, 203, 0.8); */
}

.pointer {
  cursor: pointer;
}